.Orderdetails {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#h1productorder {
    color: rgb(12, 12, 12);
}

.NomOrder {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Orderproductdetails {
    width: 90%;
    background-color: rgb(199, 174, 179);

    color: rgb(14, 13, 13);
    height: 7vh;
    display: flex;
    justify-content: space-around;
    margin-left: 5%;
    margin-bottom: 2%;
    margin-top: 2%;

    align-items: center;
    box-shadow: 0px 0px 20px black;
    transition: all 0.5s ease;
}
