li {
    color: rgb(252, 248, 246) !important;
    font-size: 20px;
}
#generaltitle {
    margin-left: 10px;
    font-size: 30px;
    color: rgb(247, 253, 253);
    font-family: "Dancing Script", cursive;
}
.auth {
    padding-left: 10% !important;
}
.cartNumber {
    display: flex;
}
.cartNumber span {
    font-size: 1.1em;
    color: white;
}
.ul_auth.auth {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.ul_auth {
    width: 100%;
}
.navEdited {
    width: 50%;
}
.lekbir {
    width: 99%;
}
